header {
  font-family: 'Fira Mono', monospace;
  display: inline-block;
  border-bottom: 2px solid black;
  width: 100%;
}

#side-head {
  background-color: lightgreen;
  display: inline-block;
  float: left;
}

h1 {
  display: inline-block;
  margin-bottom: 5px;
  text-align: left;
  font-size: 20px;
  padding-left: 4px;
  padding-right: 4px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: normal;
  color: grey;
  font-size: 15px;
  padding-left: 4px;
  padding-right: 4px;
}

.inputgroup {
  margin-top: 25px;
  margin-left: 10px;
  background-color: lightblue;
  display: inline-block;
  float: left;
  font-size: 20px;
  padding-left: 4px;
  padding-right: 4px;
}

.inputgroup label {
  font-family: 'Fira Mono', monospace;
}

input {
  float: right;
}

#slash {
  float: left;
  font-size: 25pt;
  margin-top: 30px;
  margin-left: 10px;
  color: grey;
}

#badge-button {
  color: white;
  font-weight: bold;
  background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 2px;
  margin-top: 10px;
  margin-left: 20px;
  height: 40px;
}

.badge {
  text-align: center;
  padding: 5px;
  padding-bottom: 25px;
}

#error {
  padding: 3px;
  margin-top: 10px;
  border: .5px solid red;
  border-radius: 2px;
  background-color: #ffa8a9;
  display: none;
}

.imgcon {
  display: block;
  margin-bottom: 10px;
}

.markdown-label {
  margin: 2px;
  display: inline;
}

.markdown {
  font-family: monospace;
  padding: 1px;
  border: 1px solid grey;
  border-radius: 2px;
  margin-bottom: 5px;
}

#image svg {
  margin-top: 10px;
}
